It crash

It crashed when I parse the string "P3600S" with Duration.parse();

That's because `P3600S` is not a valid `Duration` as per [RFC 5545, section 3.3.6](https://tools.ietf.org/html/rfc5545#section-3.3.6).
A valid Duration would be `PT3600S`.